<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products DB</title>
</head>
<body>
<div>
    <td th:text="${message}"></td>
</div>
<div th:switch="${products}">
    <h2 th:case="null">No products yet!</h2>
    <div th:case="*">
        <h2>Products</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Stock</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.getName()}"></td>
                <td th:text="${product.getCost()}"></td>
                <td th:text="${product.isStock()}"></td>

                <td>
                    <form class="form" th:method="DELETE"
                         th:action="@{products/delete/{name}(name=${product.getName()})}">
                         <button type="submit" class="btn btn-default">Delete</button>
                    </form>
                </td>

                <td>
                    <form class="form" th:method="PATCH"
                          th:action="@{products/setpromo/{name}(name=${product.getName()})}">
                        <button type="submit" class="btn btn-default">Promo</button>
                    </form>
                </td>

                <td>
                    <form class="form" th:method="PATCH"
                          th:action="@{products/setnopromo/{name}(name=${product.getName()})}">
                        <button type="submit" class="btn btn-default">NoPromo</button>
                    </form>
                </td>

                <td>
                    <form class="form" th:method="PATCH"
                          th:action="@{products/setprice/{name}(name=${product.getName()})}">
                        <input type="number" name="cost" min="0.01" step="0.01"/>
                        <button type="submit" class="btn btn-default">New cost</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>


<!--            <tr>-->
<!--                <th>Add new product</th><br/>-->

<!--                <div class="form-group">-->
<!--                    <label for="name">Enter name:</label>-->
<!--                    <input type="text"-->
<!--                           class="form-control"-->
<!--                           id="name"-->
<!--                           th:field="*{name}"-->
<!--                           placeholder="Product name"-->
<!--                           title="Product name"-->
<!--                    />-->
<!--                    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>-->
<!--                </div>-->
<!--                <br/>-->

<!--                <div class="form-group">-->
<!--                    <label for="cost">Enter price:</label>-->
<!--                    <input type="number"-->
<!--                           class="form-control"-->
<!--                           id="cost"-->
<!--                           th:field="*{cost}"-->
<!--                           step="0.01"-->
<!--                           placeholder="Enter price"-->
<!--                           title="Enter price"-->
<!--                    />-->
<!--                    <div style="color: red" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></div>-->
<!--                </div>-->
<!--                <br/>-->
<!--                <div class="form-group">-->
<!--                    <label for="stock">Change promo</label>-->
<!--                    <select class="custom-select" id="stock" th:field="*{stock}">-->
<!--                        <option th:value="true">Promo</option>-->
<!--                        <option th:value="false">No promo</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <br/>-->
<!--                <td><input type="submit" value="Add product"></td>-->
<!--            </tr>-->
<!--        </form>-->

    </div>
    <br/>
    <form th:method="POST" th:action="@{/admin/products/addproduct}"  th:object="${product}">
        <th>Add new product</th><br/>

        <div class="form-group">
            <input type="text" th:field="*{name}" id="name" placeholder="Product"/>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div class="form-group">
        <input type="number" th:field="*{cost}" min="0.01" step="0.01" id="cost"/>
            <div th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></div>
        </div>

        <div class="form-group">

            <select class="custom-select" id="select" th:field="*{stock}">
                <option th:value="true">TRUE</option>
                <option th:value="false">FALSE</option>
            </select>
        </div>
        <br/>
        <input type="submit" value="Create"/>  </form>

<!--    <form action="/admin/products/addproduct" method="POST" >-->
<!--        <tr>-->
<!--            <th>Add new product</th><br/>-->
<!--            <td><input type="text"  name="name" placeholder="name"></td>-->
<!--            <br/>-->
<!--            <td><input type="number" step="0.01" min="0" value="1" name="cost" placeholder="cost"></td>-->
<!--            <br/>-->
<!--            <td><input type="text" value="true" name="stock" placeholder="stock"></td>-->
<!--            <br/>-->
<!--            <td><input type="submit" value="Add product"></td>-->
<!--        </tr>-->
<!--    </form>-->
</div>
</body>
</html>