<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Users DB</title>
</head>

<body>

<div th:switch="${users}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>SecondName</th>
                <th>Age</th>
                <th>Role</th>
                <th>Login</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getSecondName()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td th:text="${user.getUserType()}"></td>
                <td th:text="${user.getLogin()}"></td>
                <td th:text="${user.getPassword()}"></td>

                <td>
                    <form class="form" th:method="DELETE"
                          th:action="@{/admin/users/delete/{login}(login=${user.getLogin()})}">
                        <button type="submit" class="btn btn-default">Delete</button>
                    </form>
                <td>

                <td>
                    <form class="form" th:method="PATCH"
                          th:action="@{/admin/users/edit/{id}(id=${user.getId()})}">
                        <button type="submit" class="btn btn-default">Change Role</button>
                    </form>
                <td>

            </tbody>
        </table>
    </div>
</div>

</body>

</html>