<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <property name="log_dir">c:/Users/stealth/IdeaProjects/NewCheck/logs</property>
        <property name="pattern_console">
            %d{ABSOLUTE} %-5level  - %msg%n
        </property>
        <property name="pattern_text_file">
            %d{ISO8601} [%t] %-5level - %msg%n
        </property>
        <property name="pattern_log_dir">
            logs/${date:yyyy-MM-dd}%d{yyyy-MM-dd_HH-mm}_%i.log
        </property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="Console" level="error"/>
        </Root>
    </Loggers>

</Configuration>